/* Estilo para la barra de navegación */
.navbar {
    background-color: #333;
}

.navbar-brand {
    color: white !important;
}

.nav-link {
    color: white !important;
}

/* Estilo para el encabezado */
header {
    background-image: url('https://via.placeholder.com/1500x500');
    background-size: cover;
    background-position: center;
    color: white;
}

/* Estilo para las tarjetas de proyectos */
.card {
    border-radius: 0.5rem;
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    border-radius: 0.5rem 0.5rem 0 0;
}

/* Estilo
