/* Estilo para la barra de navegación */
.navbar {
    background-color: #333;
}

.navbar-brand {
    color: white !important;
}

.nav-link {
    color: white !important;
}

/* Estilo para el encabezado */
header {
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fcl.pinterest.com%2Fpin%2F318207529904405914%2F%3Famp_client_id%3DCLIENT_ID%2528_%2529%26mweb_unauth_id%3D%257B%257Bdefault.session%257D%257D%26simplified%3Dtrue&psig=AOvVaw09MY_lEGVH4HJPdgpKDE3s&ust=1725204442510000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCLip9LjFn4gDFQAAAAAdAAAAABAE');
    background-size: cover;
    background-position: center;
    color: white;
}

/* Estilo para las tarjetas de proyectos */
.card {
    border-radius: 0.5rem;
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    border-radius: 0.5rem 0.5rem 0 0;
}

/* Estilo
